<% include _config -%>
<% layout('main') -%>
<section class="view-section">
	<div class="widget">
		<div class="screen1">
			<div class="monitors">
				<div class="monitor1">
					<img src="css/pic/monitor1.png" alt="">
				</div>
				<div class="monitor2">
					<img src="css/pic/monitor2.png" alt="">
				</div>
				<div class="graf3"><img src="css/pic/graf3.png" alt=""></div>
				<div class="graf2"><img src="css/pic/graf2.png" alt=""></div>
				<div class="graf1"><img src="css/pic/graf1.png" alt=""></div>
			</div>
			<div class="view-size view-size--big">
				<div class="left-size">
					<span class="logo">
						<img src="css/pic/logo.png" alt="">
					</span>
					<div class="screen1-title">Надежная CMS<br/>и ничего лишнего</div>
					<div class="screen1-slogan">Гибкая система управления сайтом без разовой и ежемесячной оплаты за лицензию</div>
					<a href="http://cms.wezom.net/wezom/auth/login" target="_blank" class="button button--svg button--lock button--mb10">
						<span>Перейти в админ панель</span>
						<svg>
							<use xlink:href="svg/sprite.svg#icon-lock">
						</svg>
					</a>
					<a href="http://wezom.com.ua/portfolio" target="_blank" class="button button--svg button--arrow">
						<span>Перейти на демо страницу</span>
						<svg>
							<use xlink:href="svg/sprite.svg#icon-arrow">
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="screen2">
			<div class="view-size">
				<div class="title title--big">Wezom.CMS – это</div>
				<div class="grid about grid--space-def">
					<div class="gcell gcell--12 gcell--md-4">
						<div data-anchor="1" class="js-animation is-animation about-block about-block--hulf about-block--green js-anchor anchor-link">
							<div class="about-text">Универсальная CMS <span class="about-text--cambria">под любые</span> задачи бизнеса</div>
						</div>
						<div data-anchor="2" class="js-animation is-animation about-block about-block--hulf js-anchor anchor-link">
							<div class="about-text">
								<svg>
									<use xlink:href="svg/sprite.svg#icon-skob">
								</svg>
								Открытость<span class="about-text--roboto">Открытый код для любых разработчиков</span>
							</div>
						</div>
					</div>
					<div class="gcell gcell--12 gcell--md-8">
						<div class="js-animation is-animation about-block about-block--fiol about-block--big about-block--cur">
							<div class="about-img--big"></div>
							<div class="about-text">
								<div class="about-text--big">Более<span>600</span></div>
								<div class="about-text--light">Уникальных сайтов, работающих на современной CMS</div>
								<div data-anchor="3" href="#" class="button button--svg js-anchor anchor-link">
									<span>Создать свой</span>
								</div>
							</div>
						</div>
					</div>
					<div class="gcell gcell--12 gcell--md-8">
						<div data-anchor="4" class="js-animation is-animation about-block about-block--gray anchor-link js-anchor">
							<div class="about-text">Идеально настроена под SEO <br/><span class="about-text--cambria">продвижение</span></div>
						</div>
					</div>
					<div class="gcell gcell--12 gcell--md-4">
						<div data-anchor="5" class="js-animation is-animation about-block js-anchor anchor-link">
							<div class="about-text">
								<svg>
									<use xlink:href="svg/sprite.svg#icon-lists">
								</svg>
								Функциональность<span class="about-text--roboto">Масштабируемость, высокая производительность и безопасность</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="view-size view-size--big block-with-underground js-anchor-block1">
				<div class="title--underground">Универсальность</div>
				<div class="view-size">
					<div class="title">Кому подходит Wezom.CMS</div>
					<div class="grid grid--space-def">
						<div class="gcell gcell--12 gcell--md-4">
							<div class="about-left">Wezom.CMS - профессиональная система управления веб-проектами, универсальный программный продукт который позволяет оптимально настроить сайт на выполнение бизнес задач клиента, а не наоборот подстраивать бизнес под возможности коробочного решения</div>
						</div>
						<div class="gcell gcell--12 gcell--md-8">
							<div class="about-right">
								<div class="about-right--title">На базе Wezom.CMS можно создавать веб-проекты любой сложности с высокими требованиями по производительности, отказоустойчивости и надежности:</div>
								<div class="about-list grid grid--space--def">
									<div class="gcell gcell--12 gcell--md-6 about-list__item">
										<div class="about-list__svg">
											<svg>
												<use xlink:href="svg/sprite.svg#icon-case">
											</svg>
										</div>
										<div class="about-list__text">Мультиязычные корпоративные сайты</div>
									</div>
									<div class="gcell gcell--12 gcell--md-6 about-list__item">
										<div class="about-list__svg">
											<svg>
												<use xlink:href="svg/sprite.svg#icon-spisk">
											</svg>
										</div>
										<div class="about-list__text">B2B-площадки поставщиков</div>
									</div>
									<div class="gcell gcell--12 gcell--md-6 about-list__item">
										<div class="about-list__svg">
											<svg>
												<use xlink:href="svg/sprite.svg#icon-cart">
											</svg>
										</div>
										<div class="about-list__text">Интернет-магазины с большими нагрузками</div>
									</div>
									<div class="gcell gcell--12 gcell--md-6 about-list__item">
										<div class="about-list__svg">
											<svg>
												<use xlink:href="svg/sprite.svg#icon-plan">
											</svg>
										</div>
										<div class="about-list__text">Интернет-серверы туроператоров</div>
									</div>
									<div class="gcell gcell--12 gcell--md-6 about-list__item">
										<div class="about-list__svg">
											<svg>
												<use xlink:href="svg/sprite.svg#icon-list">
											</svg>
										</div>
										<div class="about-list__text">Новостные порталы, СМИ, проекты издательств</div>
									</div>
									<div class="gcell gcell--12 gcell--md-6 about-list__item">
										<div class="about-list__svg">
											<svg>
												<use xlink:href="svg/sprite.svg#icon-circle">
											</svg>
										</div>
										<div class="about-list__text">Социальные сети и другие веб-проекты  </div>
									</div>
								</div>
								<div class="about-text-list view-text _small">
									<ul>
										<li>Наши клиенты, это люди, которые не готовы экспериментировать на своем бизнесе, за свои же деньги.</li>
										<li>Которые понимают, что лучше один раз заплатить и получить действительно качественный продукт, который не просто подходит, а именно разрабатывается под их задачи.</li>
										<li>Это клиенты, которые заказали более дешевые решения и поняли, что потраченные нервы и время того не стоят</li>
										<li>Это бизнесмены, которые пострадали от хакерских атак или потеряли свой сайт в результате заражения вирусом</li>
										<li>Это клиенты 2.0, которые понимают, что хотят от сайта и Wezom CMS может им это предоставить…</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="screen3">
			<div class="view-size view-size--big block-with-underground">
				<div class="title--underground title--fiol title--center">Доверие</div>
				<div class="view-size">
					<div class="title tac title--white">Проекты, реализованные на нашей CMS</div>
					<div class="screen1-slogan tac screen1-slogan--center">Агентство Wezom является лидером рынка по созданию сложных, многофункциональных сайтов. Нам доверили свои проекты более 600 клиентов и их число постоянно растет!</div>
				</div>
				<div class="grid portfolio grid--space-def">
					<div class="gcell gcell--12 gcell--xs-6 gcell--md-4 gcell--lg-3 is-animation js-animation">
						<a href="#" target="_blank" class="portfolio-item">
							<img src="images/por1.jpg" alt="">
							<span class="portfolio-link">
								<svg>
									<use xlink:href="svg/sprite.svg#icon-link">
								</svg>
								<span>swimpool.com.ua</span>
							</span>
						</a>
					</div>
					<div class="gcell gcell--12 gcell--xs-6 gcell--md-4 gcell--lg-3 is-animation js-animation">
						<a href="#" target="_blank" class="portfolio-item">
							<img src="images/por2.jpg" alt="">
							<span class="portfolio-link">
								<svg>
									<use xlink:href="svg/sprite.svg#icon-link">
								</svg>
								<span>swimpool.com.ua</span>
							</span>
						</a>
					</div>
					<div class="gcell gcell--12 gcell--xs-6 gcell--md-4 gcell--lg-3 is-animation js-animation">
						<a href="#" target="_blank" class="portfolio-item">
							<img src="images/por3.jpg" alt="">
							<span class="portfolio-link">
								<svg>
									<use xlink:href="svg/sprite.svg#icon-link">
								</svg>
								<span>swimpool.com.ua</span>
							</span>
						</a>
					</div>
					<div class="gcell gcell--12 gcell--xs-6 gcell--md-4 gcell--lg-3 is-animation js-animation">
						<a href="#" target="_blank" class="portfolio-item">
							<img src="images/por4.jpg" alt="">
							<span class="portfolio-link">
								<svg>
									<use xlink:href="svg/sprite.svg#icon-link">
								</svg>
								<span>swimpool.com.ua</span>
							</span>
						</a>
					</div>
					<div class="gcell gcell--12 gcell--xs-6 gcell--md-4 gcell--lg-3 is-animation js-animation">
						<a href="#" target="_blank" class="portfolio-item">
							<img src="images/por5.jpg" alt="">
							<span class="portfolio-link">
								<svg>
									<use xlink:href="svg/sprite.svg#icon-link">
								</svg>
								<span>swimpool.com.ua</span>
							</span>
						</a>
					</div>
					<div class="gcell gcell--12 gcell--xs-6 gcell--md-4 gcell--lg-3 is-animation js-animation">
						<a href="#" target="_blank" class="portfolio-item">
							<img src="images/por6.jpg" alt="">
							<span class="portfolio-link">
								<svg>
									<use xlink:href="svg/sprite.svg#icon-link">
								</svg>
								<span>swimpool.com.ua</span>
							</span>
						</a>
					</div>
					<div class="gcell gcell--12 gcell--xs-6 gcell--md-4 gcell--lg-3 is-animation js-animation">
						<a href="#" target="_blank" class="portfolio-item">
							<img src="images/por7.jpg" alt="">
							<span class="portfolio-link">
								<svg>
									<use xlink:href="svg/sprite.svg#icon-link">
								</svg>
								<span>swimpool.com.ua</span>
							</span>
						</a>
					</div>
					<div class="gcell gcell--12 gcell--xs-6 gcell--md-4 gcell--lg-3 is-animation js-animation">
						<a href="#" target="_blank" class="portfolio-item">
							<img src="images/por8.jpg" alt="">
							<span class="portfolio-link">
								<svg>
									<use xlink:href="svg/sprite.svg#icon-link">
								</svg>
								<span>swimpool.com.ua</span>
							</span>
						</a>
					</div>
					<div class="gcell gcell--12 gcell--xs-6 gcell--md-4 gcell--lg-3 is-animation js-animation">
						<a href="#" target="_blank" class="portfolio-item">
							<img src="images/por9.jpg" alt="">
							<span class="portfolio-link">
								<svg>
									<use xlink:href="svg/sprite.svg#icon-link">
								</svg>
								<span>swimpool.com.ua</span>
							</span>
						</a>
					</div>
					<div class="gcell gcell--12 gcell--xs-6 gcell--md-4 gcell--lg-3 is-animation js-animation">
						<a href="#" target="_blank" class="portfolio-item">
							<img src="images/por10.jpg" alt="">
							<span class="portfolio-link">
								<svg>
									<use xlink:href="svg/sprite.svg#icon-link">
								</svg>
								<span>swimpool.com.ua</span>
							</span>
						</a>
					</div>
					<div class="gcell gcell--12 gcell--xs-6 gcell--md-4 gcell--lg-3 is-animation js-animation">
						<a href="#" target="_blank" class="portfolio-item">
							<img src="images/por11.jpg" alt="">
							<span class="portfolio-link">
								<svg>
									<use xlink:href="svg/sprite.svg#icon-link">
								</svg>
								<span>swimpool.com.ua</span>
							</span>
						</a>
					</div>
					<div class="gcell gcell--12 gcell--xs-6 gcell--md-4 gcell--lg-3 is-animation js-animation posRel">
						<div class="js-acnhor anchor-link add-new" data-anchor="3">
							<div class="add-new__text"><span>+</span>Создать свой</div>
						</div>
					</div>
				</div>
				<div class="portfolio-link__all tac">
					<a href="http://wezom.com.ua/portfolio" target="_blank" class="button button--svg button--arrow">
						<span>Все проекты</span>
						<svg>
							<use xlink:href="svg/sprite.svg#icon-arrow">
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="screen4 js-anchor-block2">
			<div class="view-size view-size--big block-with-underground">
				<div class="title--underground">Открытость</div>
				<div class="view-size">
					<div class="title">Без привязки к разработчику</div>
					<div class="grid grid--space-def open-code">
						<div class="gcell gcell--12 gcell--lg-6">
							<div class="view-text">
								<h4>Открытый исходный код</h4>
							</div>
							<div class="view-text view-text__slogan">Наша CMS имеет открытый исходный код, что позволяет вносить изменения и дополнения сторонними разработчиками. Платформа соответствует международным стандартам по написанию кода и построения архитектуры <a href="http://www.php-fig.org/psr/" target="_blank">http://www.php-fig.org/psr/</a>.</div>
							<div class="view-text columns _small">
								<p>Иногда, для того, чтобы реализовать некоторые проекты  необходимы не стандартные походы как к дизайну так и построению системы управления, в случая выбора практически любой Open Source CMS теряется широта маневра и как правило накладываются ограничения конкретной системы. Так как по своей сути данные системы предназначены для быстрого решения шаблонных задач связанных с E-commerce, но и решения в плане дизайна, структуры сайта будет также отражать шаблонный подход, конечно можно добиться условно гибкой реализации, но при этом возрастает время на разработку и соответственно цена самого проекта.</p>
								<p>В следствии этого происходит привязка к конкретному разработчику несмотря на, то что была выбрана OpenSource система. Более оптимальным решением при этом является выбор одной из коммерческих платформ, либо же студийных, так как их архитектура позволяет расширять свою реализацию практически в любую сторону, основными требованиями для этого будут являться открытость исходного кода, следование международным стандартам в организации программного кода и достаточному документированию системы, при соблюдении данных требований любой вполне компетентный специалист сможет с ней работать затратив минимальное время на изучение ее возможностей.</p>
							</div>
						</div>
						<div class="gcell gcell--12 gcell--lg-6 tac may-hide animation-img">
							<img src="images/opening.png" class="js-animation is-animation" alt="">
						</div>
					</div>
					<div class="grid grid--space-def">
						<div class="gcell gcell--12 gcell--lg-8">
							<div class="price js-animation is-animation">
								<div class="price-left price-text">
									<span><span>800</span>за лицензию</span>
								</div>
								<div class="price-right price-text">
									<span><span>12</span>в мес</span>
								</div>
								<div class="price-center">
									<span><span>0</span>на весь период<br/>работы сайта</span>
								</div>
							</div>
						</div>
						<div class="gcell gcell--12 gcell--lg-4">
							<div class="view-text _small2">
								<h4>Бесплатная лицензия</h4>
								<p>Мы предоставляем Wezom.CMS БЕСПЛАТНО, но берем плату за разработку самого сайта, непосредственно под ваши задачи! При чем, оплату берем разово!</p>
								<p>Клиенту передаются все права на пожизненное использование CMS с возможностью вносить любые изменения или дополнения в CMS самостоятельно или с помощью других разработчиков.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="screen5 js-anchor-block4">
			<div class="view-size view-size--big block-with-underground">
				<div class="title--underground title--blue title--center">SEO</div>
				<div class="view-size">
					<div class="title title--white tac">Wezom.CMS идеально подходит под SEO</div>
					<div class="screen1-slogan tac screen1-slogan--center2">Помимо разработки сайтов в структуру агентства Wezom входит SEO студия elit-web, где работает 70 сотрудников у которых на продвижении находится более 200 проектов. Поэтому, внутренние требования к «чистоте» исходного кода очень высоки, ведь от этого зависит успех SEO студии.</div>
					<div class="grid grid--space-def seo-block">
						<div class="gcell gcell--12 gcell--lg-5">
							<div class="screen5-title">Мы внедрили целый ряд «фишек», которые упрощают жизнь сеошнику. А именно:</div>
							<div class="screen-changer">
								<div class="screen-link js-screen-link cur" data-screen="images/screen1.png">
									<span>Шаблонизация мета тегов для групп страниц</span>
								</div>
								<div class="screen-link js-screen-link" data-screen="images/screen2.png">
									<span>Возможность прописания мета тегов для любой страницы по УРЛ</span>
								</div>
								<div class="screen-link js-screen-link" data-screen="images/screen1.png">
									<span>Добавление счетчиков статистики через админ панель, без необходимости искать на фтп корневой шаблон</span>
								</div>
								<div class="screen-link js-screen-link" data-screen="images/screen2.png">
									<span>Редирект можно поставить в админ панели, не заходя на фтп</span>
								</div>
								<div class="screen-link js-screen-link" data-screen="images/screen1.png">
									<span>Модуль "теги для конкретных ссылок", полностью решает задачу внесения мета тегов и заголовков</span>
								</div>
								<div class="screen-link js-screen-link" data-screen="images/screen2.png">
									<span>Удобное отслеживание конверсии</span>
								</div>
								<div class="screen-link js-screen-link" data-screen="images/screen1.png">
									<span>Доступ к редактированию всех страниц на сайте из админ панели, включая служебные</span>
								</div>
							</div>
						</div>
						<div class="gcell gcell--12 gcell--lg-7">
							<div class="notebook is-animation js-animation">
								<img src="css/pic/note.png" alt="">
								<div class="notebook-screen js-screen-item">
									<img src="images/screen1.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="comment-block clearfix">
						<div class="comment-left fll js-animation is-animation">
							<img src="images/comment.png" alt="">
						</div>
						<div class="comment-right flr">
							<div class="comment-text">
								<div class="comment-text__main">Используя Wezom.CMS ваш сайт будет выглядеть дружелюбным в глазах поисковых систем, а ваш SEO специалист будет иметь все возможности для работы!»</div>
								<div class="comment-text__man"><span>Игорь Воловой,</span>Директор <a href="https://elit-web.ru" target="_blank">агентства интернет-маркетинга «Elit-web»</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="screen6 js-anchor-block5">
			<div class="view-size view-size--big block-with-underground">
				<div class="title--underground">Функциональность</div>
				<div class="view-size">
					<div class="title">Wezom.CMS постоянно развивается</div>
					<div class="screen1-slogan _black">Мы каждый день работаем над развитием нашей CMS,  расширяя ее функциональность и надежность.</div>
					<div class="grid grid--space-def func-block">
						<div class="gcell gcell--12 gcell--lg-4">
							<div class="view-text">
								<h4>Компоненты и виджеты</h4>
							</div>
							<div class="view-text">
								<p>Наша CMS включает в себя мощные и функциональные компоненты по управлению компонентами такими как SEO, Каталог товаров, Разделами сайтов и т.д.</p>
								<p>Платформа также легко масштабируется, имеет высокую производительность и систему безопастности.</p>
								<p>В случае необходимости легко интегрируется со сторонними решениями (CRM , Онлайн консультанты, сервисы рассылок, 1С и т.д.)</p>
							</div>
						</div>
						<div class="gcell gcell--12 gcell--lg-8 gcellImg">
							<img class="js-animation is-animation" src="css/pic/func1.png" alt="">
						</div>
						<div class="gcell gcell--12 gcell--lg-6 gcellImg">
							<img class="js-animation is-animation" src="css/pic/func2.png" alt="">
						</div>
						<div class="gcell gcell--12 gcell--lg-6">
							<div class="view-text">
								<h4>Безопасность</h4>
							</div>
							<div class="view-text view-text__slogan">Wezom.CMS полностью защищена от любых видов взломов. Это броня, среди админок и вы будете полностью защищены! В отличии от бесплатных CMS, которых можно сравнить с решетом. В них дыряво все, от плагинов и тем, до самого движка. </div>
							<div class="view-text columns _small">
								<p>На сайте exploit-db.com существует миллион инструкций, как эти дыры использовать.</p>
								<p>Давайте представим ситуацию, Ваша компания занимается продажами и Вы создали интернет – магазин на Wordpress. За последние 6 мес вы потратили приличную сумму на SEO продвижение, сайт выбился в ТОП по основным запросам. Также, вы активно используете контекстную рекламу, для увеличения продаж.</p>
								<p>Ваш сайт стал «откусывать» у конкурентов долю прибыли. Что будут делать они? Как только поймут, что сайт на бесплатном движке, вас сразу захотят взломать!</p>
								<p>Ведь это даст возможность получить доступ в админку! Увидеть все заказы, контакты всех покупателей, внести изменения в тексты сайта или просто его удалить! Рекомендуем Вам использовать проверенное решение - Wecom.CMS</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="screen7 js-anchor-block3">
			<div class="view-size">
				<div class="grid grid--space-def">
					<div class="gcell gcell--5 gcell--lg-5 order-opus">
						<div class="order-opus__inn">
							<div class="order-title">Протестируйте нашу CMS онлайн</div>
							<div class="order-text">Нажмите кнопку «Перейти в админ панель», чтобы увидеть и протестировать админ панель нашей CMS. При входе используйте логин и пароль CMS и оставьте свою электронную почту.</div>
							<a href="http://cms.wezom.net/wezom/auth/login" target="_blank" class="button button--svg button--lock button--mb10">
								<span>Перейти в админ панель</span>
								<svg>
									<use xlink:href="svg/sprite.svg#icon-lock">
								</svg>
							</a>
							<a href="http://wezom.com.ua/portfolio" target="_blank" class="button button--svg button--arrow">
								<span>Перейти на демо страницу</span>
								<svg>
									<use xlink:href="svg/sprite.svg#icon-arrow">
								</svg>
							</a>
						</div>
					</div>
					<div class="gcell gcell--7 gcell--lg-7" id="add-new">
						<div class="order-form form js-form" data-form="true">
							<div class="order-title">Готовы заказать сайт?</div>
							<div class="order-slogan">Если вы хотите использовать Wezom.CMS и получить надежный и качественный сайт, просто оставьте вашу заявку. Наш менеджер свяжется с вами в кратчайшие сроки и обсудит все детали.</div>
							<div class="control-holder control-holder--text">
								<input id="order-name" class="js-order-input" type="text" name="order-name" required data-rule-word="true" data-rule-minlength="2">
								<label for="order-name" class="form__label">Ваше имя</label>
							</div>
							<div class="control-holder control-holder--text">
								<input id="order-email" class="js-order-input" type="email" name="order-email" required data-rule-email="true">
								<label for="order-email" class="form__label">E-mail</label>
							</div>
							<div class="control-holder">
								<button class="button js-form-submit">
									<span>отправить заявку</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- #end widget -->
</section>
<div class="js-scroll_up scroll_up">
    <svg>
        <use xlink:href="svg/sprite.svg#icon_arrow_up"></use>
    </svg>
</div>