<% include _config -%>
<% layout('main') -%>
<section class="view-section">
	<div class="widget">
		<div class="view-size">
			<%- partial('content/example-text') -%>
		</div>
	</div>
	<!-- #end widget -->
</section>
