<?js
    var data = obj;
    var isHtmldoc = this.navOptions.isHtmldoc === true;
    data.forEach(function(example) {
    	if (isHtmldoc) {
    		example.lang = 'markup';
    		example.code = example.code.replace(/\&lt\;\%/g, '<%');
    		example.code = example.code.replace(/\%\&gt\;/g, '%>');
    	}
        if (example.caption) {
    ?>
        <p class="code-caption"><?js= example.caption ?></p>
    <?js } ?>
    <pre class="line-numbers"><code class="language-<?js= example.lang ?>"><?js~ example.code ?></code></pre>
<?js
    });
?>
