<!DOCTYPE html>
<?js
	var that = this;
	if (this.wezomCustom === undefined) {
		var isHtmldoc = this.navOptions.isHtmldoc;
		var THEME = this.navOptions.theme;
		var LANG = THEME == 'wezom-ru' ? 'ru' : 'en';
		this.wezomCustom = {
			theme: THEME,
			lang: LANG,
			_lang: function(en, ru) {
				if (LANG == 'ru') {
					return ru;
				}
				return en;
			},
			_htmldocLang: function(_langObg) {
				var sample = 'jsdoc';
				if (isHtmldoc) sample = 'htmldoc';
				return _lang(_langObg[sample][0], _langObg[sample][1]);
			}
		};
	}
	var _lang = this.wezomCustom._lang;
	var _htmldocLang = this.wezomCustom._htmldocLang;
	var _isSassDoc = this.navOptions.isSASSdoc;
?>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title><?js= this.navOptions.systemName ?> <?js= title ?></title>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link type="text/css" rel="stylesheet" href="../_assets/styles/jsdoc.theme.<?js= this.navOptions.theme ?>.css">
	<link type="text/css" rel="stylesheet" href="../_assets/styles/prism.css">
	<link type="text/css" rel="stylesheet" href="../_assets/styles/roboto-fonts.css">
	<link type="text/css" rel="stylesheet" href="../_assets/styles/jsdoc.theme.override.css">
	<link type="text/css" rel="stylesheet" href="../_assets/styles/prism.override.css">

</head>

<body<?js if(_isSassDoc) { ?> class="sassdoc-page"<?js } ?>>

<div class="navbar navbar-default navbar-fixed-top <?js= this.navOptions.inverseNav ? 'navbar-inverse' : '' ?>">
<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="<?js= this.nav.index.link ?>"><?js if(this.navOptions.logoFile) { ?><img class="branding-logo" src="<?js= this.navOptions.logoFile ?>"
		alt="logo"/><?js } ?><?js= this.nav.index.title ?></a>
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#topNavigation">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
        </button>
	</div>
	<div class="navbar-collapse collapse" id="topNavigation">
		<ul class="nav navbar-nav">
			<?js if (_isSassDoc) {?>
				<li>
					<a href="sassdoc.html"><?js= (_lang('Documented styles', 'Документируемые стили'))?></a>
				</li>
			<?js }?>
			<?js this.nav.topLevelNav.forEach(function(entry){
			 if (_isSassDoc) {
			 	if (entry.link == 'tutorials.list.html') {
			?>
				<li class="dropdown">
					<a href="<?js= entry.link ?>" class="dropdown-toggle" data-toggle="dropdown"><?js= entry.title ?><b class="caret"></b></a>
					<ul class="dropdown-menu <?js= that.navOptions.navType ==='inline' ? 'inline' : '' ?>">
						<?js entry.members.forEach(function(member){ ?><li><?js= member ?></li><?js	}); ?>
					</ul>
				</li>
			<?js }} else {?>
				<li class="dropdown">
					<a href="<?js= entry.link ?>" class="dropdown-toggle" data-toggle="dropdown"><?js= entry.title ?><b class="caret"></b></a>
					<ul class="dropdown-menu <?js= that.navOptions.navType ==='inline' ? 'inline' : '' ?>">
						<?js entry.members.forEach(function(member){ ?><li><?js= member ?></li><?js	}); ?>
					</ul>
				</li>
			<?js }}); ?>
		</ul>
		<div class="col-sm-3 col-md-3">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" id="search-input">
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="search-submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
	</div>

</div>
</div>


<div class="container">
<div class="row">


	<div id="toc"></div>
	<div class="page-wrapper">
		<div class="page-nav">&nbsp;</div>
		<div id="toc-content" class="page-content">
			<div id="main">
				<?js= content ?>
				<br>
				<br>
				<hr>
				<h2>Предложения и баги</h2>
				<blockquote>
					<p>Все обнаруженные баги, проблемы, фиксы, а также предложения по <strong><em>Стартовому шаблону</em></strong> - отписывать в трекере основного репозитория шаблона. Четко, аргументировано и развернуто.</p>
					<p><a href="https://bitbucket.org/wezom/wtpl/issues" target="_blank">https://bitbucket.org/wezom/wtpl/issues</a></p>
				</blockquote>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

</div>
</div>

<div class="modal fade" id="searchResults">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
        	<?js= (_lang('Search results', 'Результат поиска'))?>
        </h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
        	<?js= (_lang('Close', 'Закрыть'))?>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<footer>
<?js if (that.navOptions.footer.length > 0){ ?>
	<?js= that.navOptions.footer ?>
<?js } ?>
<?js if (that.navOptions.copyright.length > 0){ ?>
	<span class="copyright">
	<?js= that.navOptions.copyright ?>
	</span>
<?js } ?>
<span class="jsdoc-message">
	<?js= (_lang('Documentation generated by', 'Документация сгенерирована модулем'))?>
	<a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a>
	<?js if (that.navOptions.includeDate) { ?><?js= (_lang('on', ' '))?>
		<?js= (that.moment().format(that.navOptions.dateFormat)) ?> -
	<?js } ?>
	<?js= (_lang('using the', 'на основе'))?>
	<a href="https://github.com/docstrap/docstrap">DocStrap template</a>
	<?js= (_lang('and custom add-ons v1.0.0', 'и пользовательских дополнений v1.0.0'))?>
</span>
</footer>

<script src="../_assets/scripts/jsdoc.theme.docstrap.lib.js"></script>
<script src="../_assets/scripts/jsdoc.theme.toc.js"></script>
<script src="../_assets/scripts/jsdoc.theme.fulltext-search-ui.js"></script>
<script src="../_assets/scripts/clipboard.min.js"></script>

<script>
$( function () {
	$( "[id*='$']" ).each( function () {
		var $this = $( this );

		$this.attr( "id", $this.attr( "id" ).replace( "$", "__" ) );
	} );

	var $tutorialAnchors = $(".tutorial-section [id]");
	if ($tutorialAnchors.length) {
		$tutorialAnchors.each(function(index, el) {
			var $el = $(el);
			console.log($el);
		});
	}

	$( ".tutorial-section pre, .readme-section pre" ).each( function () {
		var $this = $(this);
		var example = $this.find( "code" );

		if (!example.hasClass('language-git')) {
			$this.addClass('line-numbers');
		}

		if (example.hasClass('language-hide')) {
			$this.wrap('<div class="language-hidename"></div>');
		}
		else if (example.hasClass('language-git')) {
			$this.wrap('<div class="language-named-git"></div>');
		}
	} );

	$("article pre").each( function () {
		var $this = $(this);
		$this.wrap('<div class="prism-block"></div>');
		$this.before($('<div class="js-clipboard clipboard"></div>'));
	});

	$.catchAnchorLinks( {
        navbarOffset: 10
	} );

	$( "#tut-nav" ).toc( {
		anchorName  : function ( i, heading, prefix ) {
			var id = $( heading ).attr( "id" );
			return id && id.replace(/\~/g, '-inner-').replace(/\./g, '-static-') || ( prefix + i );
		},
		selectors   : "#tut-content h1,#tut-content h2,#tut-content h3,#tut-content h4",
		showAndHide : false,
		smoothScrolling: true
	} );

	$( "#toc" ).toc( {
		anchorName  : function ( i, heading, prefix ) {
			var id = $( heading ).attr( "id" );
			return id && id.replace(/\~/g, '-inner-').replace(/\./g, '-static-') || ( prefix + i );
		},
		selectors   : "#toc-content h1,#toc-content h2,#toc-content h3,#toc-content h4",
		showAndHide : false,
		smoothScrolling: true
	} );
	$( "#toc" ).prepend('<span class="list-group-item toggle-nav-button js-toggle-nav" style="text-align: right; cursor: pointer;"><span class="toc-h1">nav</span></span>')

	$('.list-group .list-group-item').each(function(index, el) {
		var $el = $(el);
		$el.attr('title', $el.text());
	});

	$( "#main span[id^='toc']" ).addClass( "toc-shim" );
	$( '.dropdown-toggle' ).dropdown();

    $( "table" ).each( function () {
      var $this = $( this );
      $this.addClass('table');
    } );

    $('.js-clipboard').each(function(index, el) {
		var code = $(el).siblings('pre').children('code');
		if (code.length) {
			new Clipboard(el, {
				target: function() {
					return code[0];
				}
			});
		}
	});

	$(document).on('click', '.js-toggle-nav', function(event) {
		event.preventDefault();
		var $thisToggle = $(this);
		var $navToggle = $thisToggle.next();
		$navToggle.stop().slideToggle(200, function() {
			var classDo = 'addClass';
			if ($navToggle.is(':visible')) {
				classDo ='removeClass';
			}
			$thisToggle[classDo]('is-hidden-nav');
		});
	});

} );
</script>



<!--Navigation and Symbol Display-->
<?js if (this.navOptions.collapseSymbols) { ?>
<script>
	$( function () {
		$( '#main' ).localScroll( {
			offset : { top : 60 } //offset by the height of your header (give or take a few px, see what works for you)
		} );
		$( "dt.name" ).each( function () {
			var $this = $( this ).find("h4");
			var icon = $( "<i/>" ).addClass( "icon-plus-sign" ).addClass( "pull-right" ).addClass( "icon-white" );
			var dt = $(this);
			var children = dt.next( "dd" );

			dt.prepend( icon ).css( {cursor : "pointer"} );
			dt.addClass( "member-collapsed" ).addClass( "member" );


			children.hide();

			dt.children().on( "click", function () {
				children = dt.next( "dd" );
				children.stop().slideToggle( "fast", function () {

					if ( children.is( ":visible" ) ) {
						icon.addClass( "icon-minus-sign" ).removeClass( "icon-plus-sign" ).removeClass( "icon-white" );
						dt.addClass( "member-open" ).animate( "member-collapsed" );
					} else {
						icon.addClass( "icon-plus-sign" ).removeClass( "icon-minus-sign" ).addClass( "icon-white" );
						dt.addClass( "member-collapsed" ).removeClass( "member-open" );
					}
				} );
			} );

		} );
	} );
</script>
<?js } ?>

<script type="text/javascript">
	$(document).ready(function() {
		SearcherDisplay.init();
	});
</script>
<script src="../_assets/scripts/prism.js"></script>

</body>
</html>
