<!DOCTYPE html>
<html lang="ru-RU" dir="ltr" class="no-js">
	<head>
		<%- partial('head', {layout: 'error'}) -%>
	</head>
	<body>
		<%- body -%>
		<link rel="stylesheet" href="css/error.css">
		<%- partial('inkubator-previewer') -%>
	</body>
</html>
<% delete locals.blocks %>
