<h2>Content images</h2>
<% for (let i = 1; i <= 8; i++) { -%>
	<% let size = i * 100 + 20; -%>
	<p><img src="images/no-image.png" alt="" title="Ширина изображения <%- size %>px" width="<%- size %>" style="float: left; margin: 0 20px 20px 0;"></p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio quasi hic, numquam ratione! Corporis modi accusantium aliquid ex. Sunt alias commodi dolore unde fugiat, aperiam, itaque neque ex autem ullam dolor. Accusantium aperiam voluptatibus quis obcaecati expedita assumenda corporis adipisci illum iure, ipsa doloribus dolorem ipsum cum enim repellat officia perferendis veniam optio fugiat, molestias similique maxime autem dolorum. Incidunt debitis earum commodi optio, possimus perferendis, odio perspiciatis voluptatum atque nam iusto, quae provident. Expedita dolorem facilis, perferendis, provident quos tenetur et animi fugiat cumque cupiditate explicabo magnam sapiente corporis. Quia nulla fugiat ipsam maiores iusto cumque ad tempore tenetur quis debitis voluptate aliquid voluptatibus optio explicabo quos, officia facilis dolore porro.</p>
	<div class="_clear"></div>
<% } -%>